<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expensetracker">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application
        android:label="expensetracker"
        android:icon="@mipmap/ic_launcher">
        <meta-data android:name="com.mapbox.token" android:value="pk.eyJ1IjoibGVtb25wb3R0ZXIiLCJhIjoiY2t1Z2hoMzZwMjRhbzMxbzNyZXo1amRhNCJ9.F_ezQNYR7IKCMPQiw5ZC1Q" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
